/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(to right, #f3f9ff44, #fc950523, #f8e4f23d, #f3f9ff48); */

}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;

}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

.logo img{
  width: 100px;
  margin-bottom: 0.01rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration:underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
.desktop{
  height: 16vh;
}


.logo:hover {
  cursor: pointer;
}

/* HAMBURGER MENU */



.hamburger-menu {
  position: relative;
  display: inline-block;
  

}

.burger{
  padding-top: 8px;
  height: 8vh;
  position: relative; 
  gap: 7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
}




.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23px; 
  width: 28px;  
  cursor: pointer;
}


.hamburger-icon span {
  display: block;
  height: 3px;       /* Thickness of each line */
  width: 100%;       /* Full width */
  background-color: lightgrey; /* Color similar to the one in the image */
  border-radius: 10px; /* Rounded edges */
  transition: all 0.2s ease; 
}


/* Styles for the menu links */
.menu-links {
  position: fixed; /* Use fixed to cover the full screen */
  top: 0;
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #f8f9fa; /* Background color */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 1.375rem; /* Padding for the container */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999; /* Ensure it stays on top of other elements */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 

}

/* Show menu when open */
.menu-links.open {
  transform: translateX(0); /* Slide in from the left */
}

/* Styles for each anchor in the menu */
.menu-links ul {
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  list-style-type: none; /* Remove bullet points */
}

.menu-links li {
  margin-bottom: 1.5rem; /* Add space between list items */
}

.menu-links a {
  color: #212529; /* Darker text color */
  text-decoration: none; /* Remove default underline */
  font-size: 1.5rem; /* Font size */
  text-align: left; /* Align text to the left */
  border-bottom: 2px dotted #dee2e6; /* Dotted underline */
  padding-bottom: 0.5rem; /* Add padding for the underline */
}

/* desktop Navigation */

#desktop-nav {
  position: fixed;
  top: 0;        
  width: 100%;   
  gap:  28rem;
  z-index: 1000;  
  height: 10vh;
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

.hamburger-icon.open {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000; 
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 700px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;

}

.section__text {

  align-self: center;
  text-align: center;
  box-shadow: 0 3px 20px rgba(249, 255, 247, 0.462);
  padding: 1.6rem;
  border-radius: 20px;

  
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}
#socials-container img{
  color: grey;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 3rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  
}


/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.8rem;
  width: 8rem;
  border-radius: 3rem;
  border: 0.1px solid rgba(212, 207, 207, 0.705);
  background: none; 
  color: rgb(53, 53, 53); 
}

/* Hover effect for both buttons */
.btn:hover {
  cursor: pointer;
  color: #ffffff; 
  background: #4285f4;
  border-color: none;
}

/* Additional hover effect for .btn-color-1 */
.btn-color-1:hover {
  background: #4285f4 /* Darker black for btn-color-1 on hover */
}


/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}
.text-container p{

  text-align: left;
  padding:20px;
  border-radius: 20px;
}
  

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  /* border: rgb(53, 53, 53) 0.1rem solid; */
  background: linear-gradient(to right, #a8fa052a, #fbfde8, #d3bbdd46, #f8f0fa, #d4ff0023);
  text-align: center;
  box-shadow: 0px 4px 100px rgba(252, 0, 0, 0.119);
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
 
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-section{
  height: auto;  

}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}


.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  border: none;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.126);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border: 0.1px solid rgba(212, 207, 207, 0.705);

}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 10vh;
  margin: 0 1rem;

}

footer p {
  text-align: center;
  
}


.links{
  margin-bottom: 2rem;
}

.links ul {
  display: flex; /* Makes the ul a flex container */
  list-style: none; /* Removes the default bullet points */
  padding: 0; /* Removes any default padding */
  margin: 0; /* Removes any default margin */
  justify-content: center; /* Centers the items while keeping them closer */
  gap: 3rem;
}


.links li {
  display: flex; /* Ensures li items align correctly */
  align-items: center; /* Vertically centers the content */
  justify-content: space-between;

}

.links a {
  text-decoration: none; /* Removes underline from links */
}
.links a:hover{
  cursor: pointer;
}

.links img {
  width: 24px; /* Adjust the size of the icons */
  height: auto;
}




/* expertise and course work section */


.expertise-section {
  background-color: var(--bg-light);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  margin: 1px, 6px;
  gap: 10px; 
  padding: 8px 2px;
  width: 90%;


}


.expert-title {
  width: 100%; /* Ensures the title spans across the section */
  text-align: center;
  margin-bottom: 10px;
}

.expert-title h2 {
  font-size: 2rem;
  color: var(--primary-text); 

}
.expertise-section .article a{
   background-color: none;
}

/* Style each article */
.details {
  background-color: var(--bg-white); /* Using your existing CSS variable */
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0px 4px 1000px rgba(227, 233, 225, 0.462);
  transition: transform 0.3s ease;
  flex: 1 1 calc(25% - 20px); 
  max-width: 300px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;


}
.head-1 h3{
  background-color: #f907071b;
  color: #ad1919c8;
}
.head-2 h3{
 background-color: #bbe7fe52;
 color: #166996;
}

.head-3 h3{
 background-color: #e1ec1952;
 color: #8f9609;
}

.head-4 h3{
 background-color: #15f30935;
 color: #10a008d2;
}

.details h3{
  border-radius: 20px;
  padding: 4px 20px;
  width: auto;
}

.details:hover {
 
  transform: translateY(-3px);


}
.details p{
  font: 0.12rem;
}

.details img {
  width: 200px; 
  height: 159px;
  object-fit: cover; 
  border-radius: 10px; 
  margin-bottom: 15px; 
}


.details p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  text-align: left;
}

/* Style for the button */

.details button {
  background-color: var(--primary-text); 
  color: var(--text-white); 
  border-radius: 10px; 
  padding: 10px 20px;
  border: 0.025rem solid lightgrey;
  font-size: 1rem; 
  cursor: pointer; 
  margin-top: 10px;
  


}


/* experimental footer */

.achievements-section {
  
  text-align: center; /* Center the heading */
  border: 1px solid darkgrey; /* 1px solid border */
  padding: 4rem; /* Padding for the entire section */
  border-radius: 2rem; /* Rounded corners */
  margin: 4rem auto; /* Center the section */
  max-width: 800px; /* Optional: Limit width */
  height: auto;
}

.achievements-section h2 {
  margin-bottom: 15px; /* Separation between h2 and content */
}

.achievements-list {
  display: flex; /* Use flexbox to arrange achievements */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align all items horizontally */
  gap: 15px; /* Space between each achievements-content item */
}

.achievements-content {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  gap: 10px; /* Space between icon and text */
  padding: 10px; /* Padding inside each content box */
  width: 100%; /* Ensure it takes the full width available */
  background-color: #fff; /* Optional: background color for each item */
  border-radius: 1rem; /* Rounded corners for content */
  border: 1px solid #ddd; /* Light border around each achievement */
  box-shadow: 0px 4px 80px rgba(248, 252, 0, 0.584);
}

.achievements-content span {
  font-size: 24px; /* Adjust size of the icon */
  margin-right: 10px; /* Space between icon and text */
}

.achievements-content p {
  margin: 0; /* Remove default margin from paragraph */
  text-align: left;
}








